/* .Players {
    display: flex;
    flex-direction: row;
} */

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    position: absolute;
}

