.window-class {
    margin-top: 14%;
}

.Table {
    height: 350px;
    background: linear-gradient(#006400, #003c00);
    border-radius: 250px;
    border: 1px solid black;
    margin: auto;
}

.table-wrapper {
    border-radius: 250px;
    margin-left: 20%; 
    margin-right: 20%; 
    position: relative; 
    border: 15px solid transparent;
    background: linear-gradient(#202020, #2c2c2c);
    border-image-slice: 1;
    padding: 0;
}

.center {
    margin: 0;
    position: absolute;
    top: 5%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.seat {
    border: 2px solid #433737; 
    background-color:#515151;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    position: absolute;
}

.seat-lbl {
    left: 50%;
    top: 50%;
    margin-right: -60%;
    transform: translate(-50%, -50%);
    overflow: auto;
    position: absolute;
    color: #f5f5dc;
}

#seat-1 {
    top: calc(85%);
    left: calc(85%);
}

#seat-2 {
    top: calc(90%);
    right: calc(28%);
}

#seat-3 {
    top: calc(90%);
    left: calc(28%);
}

#seat-4 {
    top: calc(85%);
    right: calc(85%);
}

#seat-5 {
    bottom: calc(25%);
    right: calc(95%);
}

#seat-6 {
    bottom: calc(85%);
    right: calc(85%);
}

#seat-7 {
    bottom: calc(90%);
    left: calc(28%);
}

#seat-8 {
    bottom: calc(90%);
    right: calc(28%);
}

#seat-9 {
    bottom: calc(85%);
    left: calc(85%);
}

#seat-10 {
    bottom: calc(25%);
    left: calc(95%);
}