.window-class {
    margin-top: 14%;
}

.Table {
    height: 400px;
    background: linear-gradient(#006400, #003c00);
    border-radius: 250px;
    border: 1px solid black;
    margin: auto;
}

.table-wrapper {
    border-radius: 250px;
    margin-left: 18%; 
    margin-right: 18%; 
    position: relative; 
    border: 15px solid transparent;
    background: linear-gradient(#202020, #2c2c2c);
    border-image-slice: 1;
    padding: 0;
}

 .seat {
    border: 2px solid #433737; 
}
