hr {
    border: 1px solid grey;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.center-player-info {
    display: 'inline-block';
    position: absolute;
    top: 70px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.pl-info {
    border-radius: 10px;
    border: 2px solid #9A9A9A; 
    padding: 2px; 
    width: 70%;
    /* background-color: #C3C4C6; */
}

.center-player-info-cards {
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
}

.player-info {
    padding: 3px;
    border: 5px solid transparent;
    border-radius: 40%;
    width: 30%;
    height: 85%;
    z-index: 3;
    position: absolute;
}

.center-player-btns {
    padding-top: 100px;
}

.inactive-player {
    text-decoration: line-through;
}

#player-1 { 
    top: calc(100%);
    left: calc(100% - 50px);
}

#player-2 { 
    top: calc(100%);
    left: calc(100% - 40%);
}

#player-3 { 
    top: calc(100%);
    left: calc(100% - 90%);
}

#player-4 { 
    top: calc(100%);
    right: calc(100% - 50px);
}

#player-6 { 
    bottom: calc(100% - 14%);
    right: calc(100% - 50px);
}

#player-7 { 
    bottom: calc(100%);
    left: calc(100% - 90%);
}

#player-8 { 
    bottom: calc(100%);
    left: calc(100% - 40%);
}

#player-9 { 
    bottom: calc(100% - 14%);
    left: calc(100% - 50px);
}

#player-5 {
    bottom: calc(100% - 350px);
    right: calc(100% + 6%);
}

#player-10 { 
    bottom: calc(100% - 350px);
    left: calc(100% + 6%);
}