/* hr {
    border: 1px solid grey;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}*/

/* .center-player-info {
    display: 'inline-block'; 
    position: absolute;
    top: 70px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}  */

.pl-info {
    border-radius: 10px;
    border: 2px solid #9A9A9A; 
    padding: 2px; 
    /* width: 150px; */
}

/* .center-player-info-cards { 
    top: 40%; 
    position: absolute;
    top: 50%;
    left: 50%; 
    margin-right: -50%; 
    transform: translate(-50%, -50%); 
    display: flex;
    flex-direction: row;
} */

/* .player-info { 
    padding: 3px;
    border: 5px solid transparent;
    border-radius: 40%;
    width: 25%;
    height: 65%;
    z-index: 3;
    position: absolute;
}*/

/* .player-info {
    display: flex;
    flex-direction: row;
} */

/*.center-player-btns {
    padding-top: 100px;
}

.inactive-player {
    text-decoration: line-through;
} */

#player-1 { 
    position: absolute;
    left: calc(100% - 150px);
    top: calc(100%);
    width: 160px;
}

 #player-2 { 
    position: absolute;
    top: calc(100% + 5%);
    left: calc(100% - 45%);
    width: 160px;
}

#player-3 { 
    position: absolute;
    top: calc(100% + 5%);
    left: calc(100% - 70%);
    width: 160px;
}

#player-4 { 
    position: absolute;
    top: calc(100%);
    right: calc(100% - 150px);
    width: 160px;
}

#player-5 {
    position: absolute;
    bottom: calc(100% - 350px);
    right: calc(100% + 6%);
    width: 160px;
}

#player-6 { 
    position: absolute;
    bottom: calc(100% - 14%);
    right: calc(100% - 200px);
    width: 160px;
}

#player-7 { 
    position: absolute;
    bottom: calc(100%);
    left: calc(100% - 70%);
    width: 160px;
}

#player-8 { 
    position: absolute;
    bottom: calc(100%);
    left: calc(100% - 45%);
    width: 160px;
}

#player-9 { 
    position: absolute;
    bottom: calc(100% - 14%);
    left: calc(100% - 150px);
    width: 160px;
}

#player-10 { 
    position: absolute;
    bottom: calc(100% - 350px);
    left: calc(100% + 6%);
    width: 160px;
} 
