/* hr {
    border: 1px solid grey;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

/* .center-player-info { */
    /* display: 'inline-block'; */
    /* position: absolute;
    top: 70px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); */
/* } */

.pl-info {
    border-radius: 10px;
    border: 2px solid #9A9A9A; 
    padding: 2px; 
    /* width: 70%; */
}

/* .center-player-info-cards { */
    /* position: absolute; */
    /* top: 40%; */
    /* position: absolute;
    top: 50%;
    left: 50%; */
    /* margin-right: -50%; */
    /* transform: translate(-50%, -50%); */
    /* display: flex;
    flex-direction: row;
} */

/* .player-info { 
    padding: 3px;
    border: 5px solid transparent;
    border-radius: 40%;
    width: 25%;
    height: 65%;
    z-index: 3;
    position: absolute;
}

.center-player-btns {
    padding-top: 100px;
}

.inactive-player {
    text-decoration: line-through;
} */

#player-1 { 
    position: relative;
    left: calc(100% - 50px);
    top: calc(100%);
    
    /* left: calc(-12%); */
}

/* #player-2 { 
    position: relative;
    top: calc(100%);
    left: calc(100% - 40%);
}

#player-3 { 
    position: relative;
    top: calc(100%);
    left: calc(100% - 90%);
}

#player-4 { 
    position: relative;
    top: calc(100%);
    right: calc(100% - 50px);
}

#player-5 {
    position: relative;
    bottom: calc(100% - 350px);
    right: calc(100% + 6%);
}

#player-6 { 
    position: relative;
    bottom: calc(100% - 14%);
    right: calc(100% - 50px);
}

#player-7 { 
    position: relative;
    bottom: calc(100%);
    left: calc(100% - 90%);
}

#player-8 { 
    position: relative;
    bottom: calc(100%);
    left: calc(100% - 40%);
}

#player-9 { 
    position: relative;
    bottom: calc(100% - 14%);
    left: calc(100% - 50px);
}

#player-10 { 
    position: relative;
    bottom: calc(100% - 350px);
    left: calc(100% + 6%);
} */

/*#deals {
    display: flex;      
    flex-flow: row wrap; 
}

.sale-item {
    display: flex;      
    flex-flow: column;  
    width: 80%;
}

#afro {
    align-self: center;  
}*/

/* #button {
    margin-top: auto;    
} */
